<div *ngIf="mediaList.length == 1">
  <div nz-row nzGutter="8" nzJustify="space-around" nzAlign="middle">
    <div class="img-container"
         nz-col
         nzSpan="24">
      <img
        class="responsive-img"
        [lazyLoad]="cdnBase + '/images/' + mediaList[0].id_str + '.png'"
        [defaultImage]="'/assets/images/holder.png'"
        [alt]="mediaList[0].media_url_https"
        (click)="open(0)"
      />
    </div>
  </div>
</div>

<div *ngIf="mediaList.length == 2">
  <div nz-row [nzGutter]="[8,8]" nzJustify="space-around" nzAlign="middle">

    <div class="img-container"
         nz-col
         nzSpan="12">
      <img
        class="responsive-img"
        [lazyLoad]="cdnBase + '/images/' + mediaList[0].id_str + '.png'"
        [defaultImage]="'/assets/images/holder.png'"
        [alt]="mediaList[0].media_url_https"
        (click)="open(0)"
      />
    </div>

    <div class="img-container"
         nz-col
         nzSpan="12">
      <img
        class="responsive-img"
        [lazyLoad]="cdnBase + '/images/' + mediaList[1].id_str + '.png'"
        [defaultImage]="'/assets/images/holder.png'"
        [alt]="mediaList[1].media_url_https"
        (click)="open(1)"
      />
    </div>
  </div>
</div>

<div *ngIf="mediaList.length == 3">
  <div nz-row [nzGutter]="[8,8]" nzJustify="space-around" nzAlign="middle">
    <div
      class="img-container"
      nz-col
      nzSpan="12">
      <img
        class="responsive-img"
        [lazyLoad]="cdnBase + '/images/' + mediaList[0].id_str + '.png'"
        [defaultImage]="'/assets/images/holder.png'"
        [alt]="mediaList[0].media_url_https"
        (click)="open(0)"
      />
    </div>
    <div
      class="img-container"
      nz-col
      nzSpan="12">
      <img
        nz-col
        nzMd="12" nzSm="12"
        class="responsive-img"
        [lazyLoad]="cdnBase + '/images/' + mediaList[1].id_str + '.png'"
        [defaultImage]="'/assets/images/holder.png'"
        [alt]="mediaList[1].media_url_https"
        (click)="open(1)"
      />
    </div>
  </div>
  <div nz-row [nzGutter]="[8,8]" nzJustify="space-around" nzAlign="middle">
    <div
      class="img-container"
      nz-col
      nzSpan="24">
      <img
        class="responsive-img"
        [lazyLoad]="cdnBase + '/images/' + mediaList[2].id_str + '.png'"
        [defaultImage]="'/assets/images/holder.png'"
        [alt]="mediaList[2].media_url_https"
        (click)="open(2)"
      />
    </div>
  </div>
</div>

<div *ngIf="mediaList.length == 4">
  <div nz-row [nzGutter]="[8,8]" nzJustify="space-around" nzAlign="middle">
    <div class="img-container"
         nz-col
         nzSpan="12"
    >
      <img
        class="responsive-img"
        [lazyLoad]="cdnBase + '/images/' + mediaList[0].id_str + '.png'"
        [defaultImage]="'/assets/images/holder.png'"
        [alt]="mediaList[0].media_url_https"
        (click)="open(0)"
      />
    </div>
    <div class="img-container"
         nz-col
         nzSpan="12"
    >
      <img
        class="responsive-img"
        [lazyLoad]="cdnBase + '/images/' + mediaList[1].id_str + '.png'"
        [defaultImage]="'/assets/images/holder.png'"
        [alt]="mediaList[1].media_url_https"
        (click)="open(1)"
      />
    </div>
  </div>
  <div nz-row [nzGutter]="[8,8]" nzJustify="space-around" nzAlign="middle">
    <div class="img-container"
         nz-col
         nzSpan="12"
    >
      <img
        class="responsive-img"
        [lazyLoad]="cdnBase + '/images/' + mediaList[2].id_str + '.png'"
        [defaultImage]="'/assets/images/holder.png'"
        [alt]="mediaList[2].media_url_https"
        (click)="open(2)"
      />
    </div>
    <div class="img-container"
         nz-col
         nzSpan="12"
    >
      <img
        class="responsive-img"
        [lazyLoad]="cdnBase + '/images/' + mediaList[3].id_str + '.png'"
        [defaultImage]="'/assets/images/holder.png'"
        [alt]="mediaList[3].media_url_https"
        (click)="open(3)"
      />
    </div>
  </div>
</div>
