<div nz-row *ngIf="isFullUser">
  <div nz-col>
    <span>
      <nz-avatar nzSize="large"
                 nzIcon="user"
                 [nzSrc]="apiBase + '/lookup/avatar/id/' + tweet.user.id_str + '.png'"></nz-avatar>
      <span>
        <span class="username">
          {{tweet.user.name}}
        </span>
        <span class="screen-name">
          @{{tweet.user.screen_name}}
        </span>
      </span>
      <span>{{tweet.created_at | date:"medium" : '+0900': 'zh' }}</span>
    </span>
    <div>
      <nz-tag nzColor="geekblue" *ngIf="tweet.retweeted_status !== undefined">转推了</nz-tag>
      <nz-tag
       [nzColor]="tweet.translations.length === 0 ? 'orange': 'cyan'"
      >{{tweet.translations.length === 0 ? '没有翻译' : tweet.translations.length + '个翻译'}}</nz-tag>
    </div>
    <p *ngIf="!tweet.truncated" class="tweet-text">{{tweet.text}}</p>
    <p *ngIf="tweet.truncated" class="tweet-text">{{tweet.extended_tweet.full_text}}</p>
    <a routerLink="/tweet/{{tweet.id_str}}">查看更多</a>
    <!--todo: lazy load image-->
  </div>
</div>
<nz-divider></nz-divider>
